.selector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-end;
}

.offsetInput {
  display: flex;
  flex-direction: column;
  label {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
  }

  input {
    padding: 0.4rem;
    font-size: 1rem;
    max-width: 5rem;
    background-color: var(--color-overlay);
  }
}
