.container {
  position: relative;
  width: 200px;
  height: fit-content;
}

.label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  background: var(--color-overlay);
}

.dropdown {
  position: absolute;
  background: var(--color-overlay);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.option {
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background: var(--color-accent);
  }
}

.highlighted {
  background-color: var(--color-accent);
  color: var(--color-text-primary);
}

.noResults {
  padding: 0.5rem;
  color: #999;
}
