@use "./shared/styles/colors.scss";
@use "./shared/styles/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  @include mixins.theme-vars(colors.$light-theme);
  color-scheme: light;

  background: var(--color-bg);
  color: var(--color-text-primary);
}

[data-theme="dark"] {
  @include mixins.theme-vars(colors.$dark-theme);
  color-scheme: dark;
}

:global #root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 100vh;
}
